.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row {
    width: 100%;
    display: flex;
     flex-wrap: wrap; 
     
/*  allow iteams to stack one above other     */
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-2 {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin: 0 30px;
border-radius: 5px;
width: 18%;
}
.col-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.col-2 img.book {
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 5px 5px 0 0;
}
.container.card-content {
    padding: 2px;
}
.row.book {
    transform: translate(7%);
}

/* .col-2 img.book { transition: all .1s ease-in-out; }
.col-2 img.book:hover { transform: scale(1.1); } */